.summary{
    display: flex;
    width: calc(100% - 100px);
    align-items: center;
    background-color: white;
    margin-left: 100px;
    font-size: 13px;
    font-weight: 550;
    margin-top: 70px;
    margin-bottom: 50px;

}
.summary img{
    width: 30px;
    margin-right: 20px;
}
body{
    background-color: white;
}
.checktron-yellow{
    position: relative;
    display: flex;
    width: 150px;

}
.checktron-white{
    position: relative;
    display: flex;
    width: 180px;

}
.checktron-yellow img{
    position: absolute;
}
.checktron-white img{
    position: absolute;
}
.checktron-yellow .checktron-yellow-child{
    width: 100px;
    left: 20px;

}
.checktron-yellow .checktron-yellow-last{
    left: 100px;
    top: -12px;
}

.checktron-white .checktron-yellow-child{
    width: 100px;
    left: 20px;
    height: 4px;

}
.checktron-white .checktron-yellow-last{
    left: 120px;
    top: -13px;
}

.checkout-validate{
    width: calc(100% - 100px);
    display: flex;
    margin-left: 100px;

}
.validate-left{
    width: 50%;
    display: flex;
    flex-wrap: wrap;

}
.validate-right{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.chuto{
    font-size: 28px;
    font-weight: 750;
}
.wrapttinput{
    width: 40%;
margin-right: 15px;
}
.wrapttinput input{
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1.5px solid lightgray;
    padding-left: 15px;
    caret-color: #EAA451;
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 15px;

    
}
.wrapttinput.large{
    width: calc(80% + 15px);
}

.nameinput{
    font-size: 13px;
    margin-top: 20px;
}
.wrapper-chuto{
    width: calc(100% - 100px);
    margin-left: 100px;
    display: flex;
}
.wrapper-chuto div{
    width: 50%;
}
.wraper-card1{
    width: 100%;
    display: flex;
    padding: 10px 0;
    height: max-content;
    justify-content: space-between;
    border-bottom: 1px  dashed gray;


}
.block-card {
    width: 25%;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
}
.block-card.yellow{
   background-color: #FFF0DF;
   position: relative;
}
.block-card.yellow input{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    accent-color: #EAA451;
    color: white;
}

  

.block-card img{
    width: 45px;
}
.block-card div{
   font-weight: 550;
}
.wrakl{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.nameiinput{
    width: 100%;

}
.nameiinput input{
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1.5px solid lightgray;
    padding-left: 15px;
    caret-color: #EAA451;
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 15px;
}
.nameiinput div{

    font-size: 12px;
    margin-top: 20px;
}
.nameiinput.bay {
    width: 65%;
    margin-right: 5%;
}
.nameiinput.ba {
    width: 30%;
}
.validate-right button{
    height: 40px;
    background-color: #EAA451;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
}
.giongslice{
    width: calc(100% - 200px);
    margin-left: 100px;
    display: flex;
    margin: 100px 100px;
}
.giong-bao{
 width: 25%;
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.giong-bao img{
    width: 40px;
}
.giong-bao .text-to{
    font-size: 15px;
    font-weight: 550;
}
.giong-bao .text-nho{
    text-align: center;
    font-size: 10px;
    max-width: 70%;
    color: gray;
}
/* tablet */
@media only screen and (min-width:46.25em)  and (max-width:63.9375em) {
    .summary{
        display: flex;
        width: calc(100% - 50px);
        align-items: center;
        background-color: white;
        font-size: 13px;
        margin-left: 50px;
        font-weight: 550;
        margin-top: 70px;
        margin-bottom: 50px;
       }
       .checktron-yellow .checktron-yellow-child {
        display: none;
       }
       .checktron-yellow .checktron-yellow-last {
        left: 10px;
        top: -15px;
      }
      .checktron-yellow {
        position: relative;
        display: flex;
        width: 50px
    
    ;
    }
    .summary img {
        width: 30px;
        margin-right: 10px;
    }
    .checktron-white .checktron-yellow-child {
display: none;
    }
    .checktron-white .checktron-yellow-last {
        left: 20px;
        top: -15px;

    }
    .checktron-white {
        position: relative;
        display: flex;
        width: 60px;
    }
    .checkout-validate {
        width: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        margin-left: 50px;

    }
    .chuto.none{
        display: none;
    }
    .wrapper-chuto {
        width: calc(100% - 50px);
        margin-left: 50px;
        display: flex;
    }
    .checkout-validate {
        width: calc(100% - 0px);
        display: flex;
        flex-direction: column;
      margin-left: 50px;
    }
    .validate-left {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
      margin-left: 10px;

    }
    .validate-right {
        width: 70%;
        display: flex;
        flex-wrap: wrap;


    }
    .ft-top {
        width: 100%;
        height: 166px;
        box-sizing: border-box;
        background-color: #131045;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        margin-top: 30px;
    }
    .ft-top-text {
        width: 300px;
        height: 110px;
        font-weight: 600;
        font-size: 20px;
        line-height: 55px;
    }
    .ft-top-input input {
        height: 39px;
        width: 100%
    
    ;
        padding-left: 15px;
        background-color: transparent;
        color: white;
        outline: none;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        font-family: Poppins;
    }
    .ft-top-input button {
display: none;
    }
    .ft-bottom {
        width: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        background-color: white;
        margin-left: 50px;
    }
    .list-ul-li {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .list-ul-li ul {
        list-style: none;
        margin-top: 50px;
        width: 25.3%;
    }
    .div-chia2 {
        width: 100%;
        box-sizing: border-box;
        margin-top: 1px;
        background-color: white;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .div-2 {
        width: calc(50% - 60px);
        height: 250px;
        margin-left: 10px;

    }
    .div-1 {
        width: calc(40% - 60px);
        margin-left: 10px;
    }
    .foot-sticky {
        display: none;

    }
}
/* mobile */
@media only screen and (max-width:46.1875em){
    .chuto.none {
        display: none;
    }
    .ft-bottom {
        width: calc(100% - 10px);
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        background-color: white;
        margin-left: 10px;
    }
    .list-ul-li {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .list-ul-li ul {
        list-style: none;
        margin-top: 50px;
        width: 40.3%;
    }
    .ft-top {
        width: 100%;
        height: 166px;
        box-sizing: border-box;
        background-color: #131045;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        color: white;
        margin-top: 30px;
        padding-left: 30px;

    }
    .ft-top-text {
        width: 300px;
        height: 110px;
        font-weight: 600;
        font-size: 20px;
        line-height: 55px;
    }
    .ft-top-input input {
        height: 39px;
        width: 100%
    
    ;
        padding-left: 15px;
        background-color: transparent;
        color: white;
        outline: none;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        font-family: Poppins;
    }
    .ft-top-input button {
display: none;
    }
    .checktron-white {
display: none;
    }
    .checktron-yellow .checktron-yellow-last {
display: none;
    }
    .summary img {
display: none;
    }
    .checktron-yellow {
        position: relative;
        display: flex;
        width: 10px;
    }
    .shopping{
        color: #EAA451;
    }
    .shopping.lq{
        color: gray;
        margin-right: 10px;
    }
    .summary{
        display: flex;
        width: calc(100% - 10px);
        align-items: center;
        background-color: white;
        margin-left: 10px;
        font-size: 13px;
        font-weight: 550;
        margin-top: 70px;
        margin-bottom: 50px;
    
    }
    .validate-left {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .validate-right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .giongslice {
        width: calc(100% - 200px);
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        margin: 100px 100px;
    }
    .giong-bao {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .checkout-validate {
        width: calc(100% - 0px);
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .div-chia2 {
        width: 100%;
        box-sizing: border-box;
        margin-top: 1px;
        background-color: white;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .div-2 {
        width: 90%;
        height: 250px;
        margin-left: 10px;

    }
    .div-1 {
        width: 90%;
        margin-left: 10px;
    }
    .foot-sticky {
        display: none;

    }
    .wrapper-chuto {
        width: calc(100% - 100px);
        margin-left: 10px;
        display: flex;
    }


}



